<?xml version="1.0"?>
<config>
    <modules>
        <Bbva_NimblePayments>
            <version>0.1.1</version>
        </Bbva_NimblePayments>
    </modules>
    <global>
        <models>
            <nimblepayments>
                <class>Bbva_NimblePayments_Model</class>
            </nimblepayments>
        </models>
        <helpers>
            <nimblepayments>
                <class>Bbva_NimblePayments_Helper</class>
            </nimblepayments>
        </helpers>
        <resources>
            <nimblepayments_setup>
                <setup>
                    <module>Bbva_NimblePayments</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </nimblepayments_setup>
            <nimblepayments_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </nimblepayments_write>
            <nimblepayments_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </nimblepayments_read>
        </resources>
        <blocks>
            <nimblepayments><class>Bbva_NimblePayments_Block</class></nimblepayments>
        </blocks>        
    </global>
    <frontend>
        <secure_url>
            <nimblepayments_checkout>/nimblepayments/checkout</nimblepayments_checkout>
        </secure_url>
        <routers>
            <nimblepayments>
                <use>standard</use>
                <args>
                    <module>Bbva_NimblePayments</module>
                    <frontName>nimblepayments</frontName>
                </args>
            </nimblepayments>
        </routers>
        <layout>
            <updates>
                <nimblepayments>
                    <file>nimblepayments.xml</file>
                </nimblepayments>
            </updates>
        </layout>
    </frontend>
    <default>
        <payment>            
            <nimblepayments_checkout>
                <merchant_id />                
                <model>nimblepayments/checkout</model>
                <title>Nimble Payments</title>
                <order_status>pending</order_status>
                <source_code>Default</source_code>
                <allowspecific>0</allowspecific>
            </nimblepayments_checkout>
        </payment>
    </default>
</config>
