/* ============================================ *
 * Faster Checkout
 * ============================================ */
.checkout-fasterpage-index .col-right,
.checkout-fasterpage-index .col-left {
  display: none;
}

.checkout-fasterpage-index .col-main {
  width: auto;
  float: none;
}

@media only screen and (min-width: 980px) {
  .checkout-fasterpage-index .col-main {
    float: left;
    width: 68.75%;
    padding-right: 20px;
  }
  .checkout-fasterpage-index .col-right,
  .checkout-fasterpage-index .col-left {
    width: 31.25%;
    display: block;
  }
  .checkout-fasterpage-index .col-right {
    padding-left: 0;
  }
}