<?xml version="1.0"?>
<config>
    <modules>
        <Bbva_NimblePayments>
            <version>2.1.2</version>
        </Bbva_NimblePayments>
    </modules>
    <global>
        <models>
            <nimblepayments>
                <class>Bbva_NimblePayments_Model</class>
            </nimblepayments>
        </models>
        <events>
            <checkout_onepage_controller_success_action>
                <observers>
                    <bbva_nimblepayments>
                        <type>singleton</type>
                        <class>nimblepayments/observer</class>
                        <method>nimbleCheckout</method>
                    </bbva_nimblepayments>
                </observers>
            </checkout_onepage_controller_success_action>
        </events>
        <events>
            <admin_system_config_changed_section_payment>
                <observers>
                    <bbva_nimblepayments>
                         <type>singleton</type>
                        <class>nimblepayments/observer</class>
                        <method>configNimble</method>
                    </bbva_nimblepayments>
                </observers>
            </admin_system_config_changed_section_payment>    
        </events>
        <helpers>
            <nimblepayments>
                <class>Bbva_NimblePayments_Helper</class>
            </nimblepayments>
        </helpers>
        <resources>
            <nimblepayments_setup>
                <setup>
                    <module>Bbva_NimblePayments</module>
                    <class>Bbva_NimblePayments_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </nimblepayments_setup>
            <nimblepayments_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </nimblepayments_write>
            <nimblepayments_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </nimblepayments_read>
        </resources>
        <blocks>
            <adminhtml>
                <rewrite>
                    <dashboard>Bbva_NimblePayments_Block_Dashboard</dashboard>
                </rewrite>
            </adminhtml>
            <nimblepayments><class>Bbva_NimblePayments_Block</class></nimblepayments>
        </blocks>
        <sales>
            <order>
              <statuses>
                <pending_nimble translate="label">
                  <label>Pending Nimble</label>
                </pending_nimble>
              </statuses>
               <states>
                    <pending_nimble translate="label">
                      <label>Pending Nimble</label>
                      <statuses>
                        <pending_nimble default="1"/>
                      </statuses>
                    </pending_nimble>
               </states>
            </order>
        </sales>       
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <menu_nimble before="Mage_Adminhtml">Bbva_NimblePayments_Adminhtml</menu_nimble>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <secure_url>
            <nimblepayments_checkout>/nimblepayments/checkout</nimblepayments_checkout>
        </secure_url>
        <routers>
            <nimblepayments>
                <use>standard</use>
                <args>
                    <module>Bbva_NimblePayments</module>
                    <frontName>nimblepayments</frontName>
                </args>
            </nimblepayments>
        </routers>
        <layout>
            <updates>
                <nimblepayments>
                    <file>nimblepayments.xml</file>
                </nimblepayments>
            </updates>
        </layout>
        <translate>
            <modules>
                <Bbva_NimblePayments>
                    <files>
                        <default>Bbva_NimblePayments.csv</default>
                    </files>
                </Bbva_NimblePayments>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <nimblepayments>
                    <file>nimblepayments.xml</file>
                </nimblepayments>
            </updates>
        </layout>
        <translate>
            <modules>
                <Bbva_NimblePayments>
                    <files>
                        <default>Bbva_NimblePayments.csv</default>
                    </files>
                </Bbva_NimblePayments>
            </modules>
        </translate>
        <events>
           <admin_session_user_login_success>
                <observers>
                    <Bbva_NimblePayments>
                         <class>nimblepayments/observer</class>
                        <method>saveUserLoginSession</method>
                        <type>singleton</type>
                    </Bbva_NimblePayments>
                </observers>
            </admin_session_user_login_success>
        </events>   
    </adminhtml>
    <default>
        <payment>            
            <nimblepayments_checkout>
                <merchant_id /> 
                <active>0</active>               
                <fasterpage_checkout_enabled>1</fasterpage_checkout_enabled>
                <model>nimblepayments/checkout</model>
                <title>Pago con tarjeta</title>
                <!--<order_status>pending_nimble</order_status>-->
            </nimblepayments_checkout>
        </payment>       
    </default>
</config>
