<?xml version="1.0"?>

<config>
   <sections>
	<payment>
                <groups>
                      <nimblepayments_checkout translate="label" module="payment">
                            <label>Nimble Payments by BBVA</label>
                            <frontend_model>nimblepayments/adminhtml_system_config_fieldset_payment</frontend_model>
                            <frontend_type>text</frontend_type>
                            <sort_order>401</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                   
                                  <fields>
                                           <active translate="label">
                                                <label>Enabled/Disabled</label>
                                                <frontend_type>select</frontend_type>
                                                <source_model>adminhtml/system_config_source_yesno</source_model>
                                                <sort_order>10</sort_order>
                                                <show_in_default>1</show_in_default>
                                                <show_in_website>1</show_in_website>
                                                <show_in_store>0</show_in_store>
                                            </active>
                                            <merchant_id translate="label">
                                                <label>API Client ID</label>
                                                <frontend_type>text</frontend_type>
                                                <!--<backend_model>adminhtml/system_config_backend_encrypted</backend_model>-->
                                                <sort_order>30</sort_order>
                                                <show_in_default>1</show_in_default>
                                                <show_in_website>1</show_in_website>
                                                <show_in_store>0</show_in_store>
                                            </merchant_id>                        
                                            <secret_key translate="label">
                                                <label>Client Secret</label>
                                                <frontend_type>password</frontend_type>
                                                <sort_order>40</sort_order>
                                                <show_in_default>1</show_in_default>
                                                <show_in_website>1</show_in_website>
                                                <show_in_store>0</show_in_store>
                                            </secret_key>
                                            <fasterpage_checkout_enabled translate="label">
                                                <label>Enable Faster Checkout</label>
                                                <frontend_type>select</frontend_type>
                                                <source_model>adminhtml/system_config_source_yesno</source_model>
                                                <sort_order>50</sort_order>
                                                <show_in_default>1</show_in_default>
                                                <show_in_website>1</show_in_website>
                                                <show_in_store>0</show_in_store>
                                            </fasterpage_checkout_enabled>
                                     </fields>
                             </nimblepayments_checkout> 
			</groups>
		</payment>
	</sections>
</config>
